@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    @apply box-border;
  }

  * {
    @apply box-border;
  }

  /* * {
    transition: color, background-color, border-color, text-decoration-color,
      fill, stroke, ease-in-out 150ms;
  }
  *:hover {
    transition: none;
  } */

  body {
    margin: 0;
    @apply bg-neutral-100 dark:bg-neutral-900;
  }

  button {
    @apply border-none ring-2 ring-slate-400 hover:ring-slate-700 dark:hover:ring-slate-100;
    @apply bg-gray-100 hover:bg-slate-400 dark:bg-slate-700 dark:hover:bg-slate-400;
    @apply text-slate-700 hover:text-white dark:text-white dark:hover:text-black;
    cursor: pointer;
  }
}

@layer components {
  .game-block {
    margin: 0;
    padding: 0;
    aspect-ratio: 1/1;
    width: 1.5em;
    height: 1.5em;
    @apply border border-solid border-slate-700 dark:border-slate-300;
  }
  .piece-i {
    background-color: #ec858b;
  }
  .piece-j {
    background-color: #f1b598;
  }
  .piece-l {
    background-color: #f8efae;
  }
  .piece-o {
    background-color: #b5a677;
  }
  .piece-s {
    background-color: #816e56;
  }
  .piece-t {
    background-color: #b77c72;
  }
  .piece-z {
    background-color: #e3be58;
  }
  .piece-preview {
    @apply bg-neutral-300 dark:bg-neutral-600;
  }
}
